footer {
  color: black;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  background: lightgray;
}
footer strong {
  color: grey;
}
footer .footer-links {
  margin-bottom: 24px;
}
footer .footer-links a {
  margin: 0 8px;
  color: grey;
}
