.menus-wrapper {
    padding-top: 7rem;
    animation-delay: .15s;
    /* background-color: #F5F5F5; */
    width: 100%;
    animation: slideUp 300ms linear;
    font-family: verdana;
}

@media (max-width: 480px) {
    .menus-wrapper {
        padding-top: 5rem;
   }
}

.category{
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 10px;
    background-image: linear-gradient(to right, #f9d5d6 10%, transparent);
    color: #000;
}

.category-content{
    cursor: pointer;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    padding: 15px;
    font-size: 14px;
    transition: padding 1s ease-in;
}

.stepper-input {
    display: flex;
    display: -webkit-flex;
    color: grey;
    justify-content: flex-end;
    margin: 0 auto;
}

.menu-item {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #ddd;
    /* background-image: linear-gradient(to bottom, #eee, transparent); */
    vertical-align: top;
    font-size: 16px;
}
.itemDescription {
    font-size: 13px;
    font-weight: normal;
}

.stepper-input .decrement {
    border-radius: 50px;
    padding: 3px 4px;
    height: 22px;
    width: 22px;
    border: 1px solid black;
    color: orangered;
    text-align: center;
    box-sizing: border-box;
    line-height: 12px;
    font-size: 14px;
}

.stepper-input .increment {
    border-radius: 50px;
    padding: 3px 4px;
    height: 22px;
    width: 22px;
    border: 1px solid black;
    color: green;
    text-align: center;
    box-sizing: border-box;
    line-height: 12px;
    font-size: 14px;
}
.stepper-input .increment:hover{
    color: green;
    border-color: green;
}
.stepper-input .decrement:hover {
    color: orangered;
    border-color: orangered;
}
.stepper-input .increment:active {
    color: white;
    border-color: green;
    background: #00cd00;
}
.stepper-input .decrement:active {
    color: white;
    border-color: orangered;
    background: orange;
}
.stepper-input .quantity {
    height: 24px;
    width: 35px;
    text-align: center;
    margin: 0 5px;
    border-radius: 2px;
    border: 1px solid gray;
}
.stepper-input .quantity:focus {
    outline: none;
    border-color: green;
}