.modal-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.modal-wrapper.active {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.modal-wrapper .modal {
  width: 100%;
  max-width: 532px;
  margin: 16px;
  background: #fff;
  position: relative;
  border-radius: 4px;
}
.modal-wrapper .close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
  line-height: 36px;
  border-radius: 0 4px 0 0;
  background: transparent;
  color: gray;
}
.modal-wrapper .close:hover {
  background: gray;
}
.quick-view-details {
  padding: 24px;
  background: grey;
  border-radius: 0 0 4px 4px;
}
.quick-view-details .product-price {
  font-size: 18px;
}
.quick-view-details .product-price {
  color: green;
  font-weight: bold;
  font-size: 24px;
  float: right;
}
.quick-view-details .product-price:before {
  content: "₹ ";
}
.quick-view-image img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 4px 4px 0 0;
}
