/* Custom Styles go here */
.pl-10 {
    padding-left: 10px;
}

.p-15 {
    padding: 15px;
}

.p-10 {
    padding: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px !important;
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.font-large {
    font-size: large;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.inline-block {
    display: inline-block !important;
}

.justify-flex-end {
    justify-content: flex-end;
}